.layout-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

/* Sidebar (visible only on desktop) */
.sidebar.desktop-only {
  width: 200px;
 background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  z-index: 1;
}

/* Top navbar (mobile only) */
.top-navbar {
  display: none;
  background-color: #2e7d32;
  color: white;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.logo {
  width: 40px;
  color: white;
  background-color: #f5f5f5;
  border-radius: 50%;
}

/* Close icon in mobile sidebar */
.close-icon {
  background: none;
  border: none;
  color:black;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 50px;
  z-index: 1101;
  font-weight: bold;
}

/* Mobile sidebar overlay */
.mobile-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1100;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color:#2e7d32;
  padding: 20px;
  z-index: 1101;
  overflow-y: auto;
}

/* Responsive rules */
@media (max-width: 768px) {
  .layout-wrapper {
    flex-direction: column;
  }

  .top-navbar {
    display: flex;
  }

  .sidebar.desktop-only {
    display: none;
  }

  .main-content {
    padding: 20px;
  }

}





